.cover{
    overflow: hidden;
    border-radius: 5px;
}

.cover img{
    transition: 0.5s;
    border: 3px solid #1F0893;
    border-radius: 5px;
}    
.cover:hover img{
    rotate: -5deg;
    scale: 1.2;
}
.overlay{
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0;
    bottom: 0;
    opacity: 0;
    font-size: 30px;
    background: rgba(56, 8, 88 , 0.5) !important;
    transition: 0.5s;
    cursor: pointer;
}
.cover:hover .overlay{
    opacity: 1;
}
