@import url("https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@500;600;900&display=swap");

.playImage{
 z-index: 9999999;
}
/* Image Spinner */
.pic{
    position: relative;
}
@keyframes rotate {
    0%{
        transform: rotate(180deg);
    }
    50%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(180deg);
    }
}
.pic{
  position: relative;
}
.pic img:last-child{
    position: absolute;
    top: 0%;
    left: 0%;
    animation: rotate 6s forwards infinite ;
}
/* Skills Section */
.skills h1 {
  text-align: center;
}

.skills ul {
  width: min(60rem, 90%);
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  justify-content: center;
  gap: 2rem;
  list-style: none;
}

.skills ul li {
  max-width: 12rem;
  justify-self: center;
  display: grid;
  grid-template:
    "icon"
    "line"
    "dot"
    "title"
    "descr" 1fr;
  justify-items: center;
  align-items: flex-start;
  text-align: center;
}

.skills ul li .icon {
  grid-area: icon;
  width: 5rem;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  color: white;
  font-size: 2.5rem;
  border: 0.4rem solid var(--bgColor);
  border-radius: 50%;
  background: var(--accent-color);
  box-shadow: -0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.45),
    inset -0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.45);
}

.skills ul li::before {
  content: "";
  grid-area: line;
  height: 2rem;
  border-right: 2px dotted currentColor;
}

.skills ul li::after {
  content: "";
  grid-area: dot;
  width: 1rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--accent-color);
  justify-self: center;
  margin-bottom: 0.5rem;
}

.skills ul li .title {
  grid-area: title;
  margin-block: 0.5rem;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}
@keyframes spin {
    0%{
        left: -100%;
        opacity: 0;
    }
    100%{
        left: 0;
        opacity: 1;
    }
}
